# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: General cypress report

on: 
  push: 
    branches: 
      - 'main'

jobs:
  cypress-tests:
    name: Run on Chrome 83
    runs-on: ubuntu-18.04
    container: cypress/browser:node12.18.0-chrome83-ff77
    steps:
      - uses: actions@v2

      - name: Install cypress and verify
        run:
          npm ci
          $(npm bin)/cypress verify
        
      - name: Run Cypress tests
        run: npm run tests:chrome
        continue-on-error: false
      
      - name: Copy test execution videos and screenshots
        run: |
            mkdir public
            cp -r cypress/videos public/videos
            cp -r cypress/screenshots public/screenshots

      - name: Merge test reports
        run: npm run combine:report
 
      - name: Generate HTML report
        run: npm run generate:report
       
      - name: Deploy report page to GitHub Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          publish_dir: ./public
