name: build and publish

on:
  push:
    branches:
      - main
      - publish
    paths-ignore:
      - "**/docs/**"
      - "**/README.md"
      - "**/LICENSE"
      - "**/.editorconfig"
      - "**/.eslintignore"
      - "**/.gitignore"

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - run: npm ci
      - run: npm run build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          force_orphan: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
